

 <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.png">
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
		
		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
		
		<!-- Feathericon CSS -->
        <link rel="stylesheet" href="/assets/css/feathericon.min.css">
		
		<link rel="stylesheet" href="/assets/plugins/morris/morris.css">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="/assets/css/style.css">
		
	
	
		<!-- Main Wrapper -->
        <div class="main-wrapper">
		
			<!-- Header -->
       	{{#if login}}
            <div class="header"  style="box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.2);">
			
				<!-- Logo -->
                  <div class="header-left">
                    <a href="/" class="logo">
						<img src="/assets/img/Estorelogo.png" style="max-height: 115px;
    padding-bottom: 24px;" alt="Logo">
					</a>
					<a href="/" class="logo logo-small">
						<img src="/assets/img/estoreSmalllogo.png" style="max-height: 70px;" alt="Logo" width="70" height="70">
					</a>
                </div>
				<!-- /Logo -->
				
				<a href="javascript:void(0);" id="toggle_btn">
					<i class="fe fe-text-align-left"></i>
				</a>
				
					<div class="top-nav-search">
					<form>
						<input type="text" class="form-control" placeholder="Search here">
						<button class="btn" type="submit"><i class="fa fa-search"></i></button>
					</form>
				</div>
		
				<!-- Mobile Menu Toggle -->
				<a class="mobile_btn" id="mobile_btn">
					<i class="fa fa-bars"></i>
				</a>
				<!-- /Mobile Menu Toggle -->
				
				<!-- Header Right Menu -->
				<ul class="nav user-menu">

					<!-- Notifications -->
			
					<!-- /Notifications -->
					
					<!-- User Menu -->
					<li class="nav-item dropdown has-arrow">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
						
						</a>
						<div class="dropdown-menu">
							<div class="user-header">
								<div class="avatar avatar-sm">
									
								</div>
								<div class="user-text">
									<h6>Ryan Taylor</h6>
									<p class="text-muted mb-0">User</p>
								</div>
							</div>
							<a class="dropdown-item" href="users/profile">My Profile</a>
							<a class="dropdown-item" href="/users/logout">Logout</a>
						</div>
					</li>
					<!-- /User Menu -->
					
				</ul>
				<!-- /Header Right Menu -->
				
            </div>
{{else}}
<!-- Header -->
            <div class="header"  style="box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.2);">
			
				<!-- Logo -->
                <div class="header-left">
                    <a href="/" class="logo">
						<img src="/assets/img/Estorelogo.png" style="max-height: 115px;
    padding-bottom: 24px;" alt="Logo">
					</a>
					<a href="/" class="logo logo-small">
						<img src="/assets/img/estoreSmalllogo.png" style="max-height: 70px;" alt="Logo" width="70" height="70">
					</a>
                </div>
				<!-- /Logo -->
				
				<a href="javascript:void(0);" id="toggle_btn">
					<i class="fe fe-text-align-left"></i>
				</a>

					<div class="top-nav-search">
					<form>
						<input type="text" class="form-control" placeholder="Search here">
						<button class="btn" type="submit"><i class="fa fa-search"></i></button>
					</form>
				</div>
				
		
				<!-- Mobile Menu Toggle -->
				<a class="mobile_btn" id="mobile_btn">
					<i class="fa fa-bars"></i>
				</a>
				<!-- /Mobile Menu Toggle -->
				
				<!-- Header Right Menu -->
				<ul class="nav user-menu">

					<!-- Notifications -->
			
					<!-- /Notifications -->
					
					<!-- User Menu -->
					<li class="nav-item dropdown has-arrow">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
							
						</a>
						<div class="dropdown-menu">
							<div class="user-header">
							
								<div class="user-text">
							
									<p class="text-muted mb-0">User</p>
								</div>
							</div>
							<a class="dropdown-item" href="/signin">SignIn</a>
							<a class="dropdown-item" href="/signup">SignUp</a>
						</div>
					</li>
					<!-- /User Menu -->
					
				</ul>
				<!-- /Header Right Menu -->
				
            </div>
{{/if}}
		
			
			<!-- /Header -->
			
			<!-- Sidebar -->
            <div class="sidebar" style="    background-color:#ffffff8c;"  id="sidebar">
                <div class="sidebar-inner slimscroll">
					<div id="sidebar-menu" class="sidebar-menu">
						<ul>
							<li class="menu-title"> 
								<span style="color: #000;">Main</span>
							</li>
							<li > 
								<a style="color: #000;" href="/admin/profile"><i class="fe fe-home"></i> <span>Dahboard</span></a>
							</li>
							<li>
								<a style="color: #000;" href="/admin/Users"><i class="fe fe-layout"></i> <span>Users</span></a>
							</li>
							<li>
								<a style="color: #000;" href="/admin/products"><i class="fe fe-layout"></i> <span>prodcts</span></a>
							</li>
							<li> 
								<a style="color: #000;" href="/admin/category"><i class="fe fe-users"></i> <span>category</span></a>
							</li>	
								</ul>
		
						
					</div>
                </div>
            </div>
			<!-- /Sidebar -->
			
			<!-- Page Wrapper -->
            <div class="page-wrapper" style=" margin-left:0px;!important">
			
                <div class="content container-fluid">
					

					<!-- /Page Header -->			
						
							<!-- Recent Orders -->
								<div class="row">
			<div class="col-md-12">
		

				<!-- Carousel indicators -->

				<!-- Wrapper for carousel items -->

				{{!-- cards --}}
            <form action="/admin/category/{{data._id}}" method="POST" class="form-horizontal" enctype="multipart/form-data" >
<fieldset>

<!-- Form Name -->
<legend>Add Category</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Category Name">Category Name</label>  
  <div class="col-md-4">
  <input id="Category Name" name="name" value="{{data.name}}" type="text" placeholder="Category Name" class="form-control input-md" required="">
    
  </div>
</div>

<!-- File Button --> 
<div class="form-group">
  <label class="col-md-4 control-label" for="Category Image">Category Image</label>
  <div class="col-md-4">
      <img width="50" height="50" src="/uploads/{{data.image}}">
    <input id="Category Image" value="{{data.image}}" name="file"  type="file">
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <div class="col-md-4">
    <button id="singlebutton" type="submit" name="singlebutton" class="btn btn-primary">Save Changes</button>
  </div>
</div>

</fieldset>
</form>


{{!-- cards --}}
			</div>
			<!-- Carousel controls -->

		</div>
							<!-- /Feed Activity -->
							
						</div>
					</div>
				
						</div>
				</div>			
			</div>
			<!-- /Page Wrapper -->
		
        </div>
		<!-- /Main Wrapper -->
	

<style>
	.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 108%;
    margin: 47px;
    padding: 10px;
    height: 50%;
	}

	.card:hover {
		box-shadow: 0 8px 65px 0 rgba(0, 0, 0, 0.2);
	}

	.thumbnail {
		padding: 2px 16px;
		border: none !important
	}
</style>

		<!-- jQuery -->
        <script src="/assets/js/jquery-3.2.1.min.js"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="/assets/js/popper.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
		
		<!-- Slimscroll JS -->
        <script src="/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
		
		<script src="/assets/plugins/raphael/raphael.min.js"></script>    
		<script src="/assets/plugins/morris/morris.min.js"></script>  
		<script src="/assets/js/chart.morris.js"></script>
		
		<!-- Custom JS -->
		<script  src="/assets/js/script.js"></script>



			<!-- /Sidebar -->
			
			<!-- Page Wrapper -->
         
			<!-- /Page Wrapper -->
		
    <div class="page-wrapper" style=" margin-left:0px;!important">

                <!-- Delete Modal -->
	

	<script >
		document.getElementById('delete').addEventListener('click',function(){
			document.querySelector('.bg-modal').style.display="flex"
		});
		document.getElementById('close').addEventListener('click',function(){
           
			document.querySelector('.bg-modal').style.display='none'
		})
        document.getElementById('no').addEventListener('click',function(){
			document.querySelector('.bg-modal').style.display='none'
		})

	</script>
			<!-- /Delete Modal -->
			</div>
		<!-- /Main Wrapper -->


        <style>

.bg-modal{
	width:100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 0em;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
	position: fixed;
}

.modal-content{
    width: 392px;
    height: 243px;
    background-color: rgb(255 255 255);
    border-radius: 31px;
    text-align: center;
    padding: 33px;
        margin-right: 221px;
    padding-top: 14px;

}


#close{

	position: absolute;
    top: 158px;
    color: #ffffff;
    right: 569px;
    float: right;
    font-size: 57px;
    transform: rotate(45deg);
    cursor: pointer;
    font-family: auto;

}


.form{
	width:100%;
	position: relative;
	height: 50px;
	overflow: hidden;

    margin-top: 65px;
}








.form input:focus + .label-name .content-name,
.form input :valid + .label-name .content-name{
transform: translateY(-150%);
font-size: 14px;
color:grey;

}

.form input:focus + .label-name::after,
  .form input:valid + .label-name::after{
	transform: translateX(100%);
}





.buttn{
	width: 331px;
	height: 38px;
	background-color: rgba(23,17,81,1);
	color: rgba(248,248,248,1);
	margin-top: 11px;
	border: none;
	
}



p{
	display: inline;
    font-size: 12px;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    margin: 0px 6px 0px;
    text-align: center;
}
.plc{
    margin-top: 43px;
    font-size: 10px;
    text-align: left;
}




a:link {
    text-decoration: none ;
    font-size: 13px;
  }


        </style>
		
		<!-- jQuery -->
        <script src="/assets/js/jquery-3.2.1.min.js"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="/assets/js/popper.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
		
		<!-- Slimscroll JS -->
        <script src="/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
		
		<script src="/assets/plugins/raphael/raphael.min.js"></script>    
		<script src="/assets/plugins/morris/morris.min.js"></script>  
		<script src="/assets/js/chart.morris.js"></script>
		
		<!-- Custom JS -->
		<script  src="/assets/js/script.js"></script>


<!-- Mirrored from dreamguys.co.in/demo/doccure/admin/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 30 Nov 2019 04:12:34 GMT -->
