
		
		<!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.png">
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
		
		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
		
		<!-- Feathericon CSS -->
        <link rel="stylesheet" href="/assets/css/feathericon.min.css">
		
		<link rel="stylesheet" href="/assets/plugins/morris/morris.css">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="/assets/css/style.css">
		
	
	
		<!-- Main Wrapper -->
        <div class="main-wrapper">

			{{#if login}}
            <div class="header" style="box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.2);">
			
				<!-- Logo -->
                  <div class="header-left">
                    <a href="/" class="logo">
						<img src="/assets/img/Estorelogo.png" style="max-height: 115px;    border-radius: 84%;
    padding-bottom: 24px;" alt="Logo">
					</a>
					<a href="/" class="logo logo-small">
						<img src="/assets/img/estoreSmalllogo.png" style="max-height: 70px;    border-radius: 84%;" alt="Logo" width="70" height="70">
					</a>
                </div>
				<!-- /Logo -->
				
				<a href="javascript:void(0);" id="toggle_btn">
					<i class="fe fe-text-align-left"></i>
				</a>
				
					<div class="top-nav-search">
					<form>
						<input type="text" class="form-control" placeholder="Search here">
						<button class="btn" type="submit"><i class="fa fa-search"></i></button>
					</form>
				</div>
		
				<!-- Mobile Menu Toggle -->
				<a class="mobile_btn" id="mobile_btn">
					<i class="fa fa-bars"></i>
				</a>
				<!-- /Mobile Menu Toggle -->
				
				<!-- Header Right Menu -->
				<ul class="nav user-menu">

					<!-- Notifications -->
			
					<!-- /Notifications -->
					
					<!-- User Menu -->
					<li class="nav-item dropdown has-arrow">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
						
						</a>
						<div class="dropdown-menu">
							<div class="user-header">
								<div class="avatar avatar-sm">
									
								</div>
								<div class="user-text">
									<h6 style="text-transform: capitalize;">{{docs.name}}</h6>
									<p class="text-muted mb-0">User</p>
								</div>
							</div>
							<a class="dropdown-item" href="users/profile">My Profile</a>
							<a class="dropdown-item" href="/logout">Logout</a>
						</div>
					</li>
					<!-- /User Menu -->
					
				</ul>
				<!-- /Header Right Menu -->
				
            </div>
{{else}}
<!-- Header -->
            <div class="header"  style="box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.2);">
			
				<!-- Logo -->
                <div class="header-left">
                    <a href="/" class="logo">
						<img src="/assets/img/Estorelogo.png" style="    border-radius: 84%;max-height: 115px;
    padding-bottom: 24px;" alt="Logo">
					</a>
					<a href="index.html" class="logo logo-small">
						<img src="/assets/img/estoreSmalllogo.png" style="    border-radius: 84%;max-height: 70px;" alt="Logo" width="70" height="70">
					</a>
                </div>
				<!-- /Logo -->
				
				<a href="javascript:void(0);" id="toggle_btn">
					<i class="fe fe-text-align-left"></i>
				</a>

					<div class="top-nav-search">
					<form>
						<input type="text" class="form-control" placeholder="Search here">
						<button class="btn" type="submit"><i class="fa fa-search"></i></button>
					</form>
				</div>
				
		
				<!-- Mobile Menu Toggle -->
				<a class="mobile_btn" id="mobile_btn">
					<i class="fa fa-bars"></i>
				</a>
				<!-- /Mobile Menu Toggle -->
				
				<!-- Header Right Menu -->
				<ul class="nav user-menu">

					<!-- Notifications -->
			
					<!-- /Notifications -->
					
					<!-- User Menu -->
					<li class="nav-item dropdown has-arrow">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
							
						</a>
						<div class="dropdown-menu">
							<div class="user-header">
							
								<div class="user-text">
									
							
									<p class="text-muted mb-0">User</p>
								</div>
							</div>
							<a class="dropdown-item" href="/signin">SignIn</a>
							<a class="dropdown-item" href="/signup">SignUp</a>
						</div>
					</li>
					<!-- /User Menu -->
					
				</ul>
				<!-- /Header Right Menu -->
				
            </div>
{{/if}}
		
			
			<!-- /Header -->
			
			<!-- Sidebar -->
            <div class="sidebar" style="    background-color:#ffffff8c;" id="sidebar">
                <div class="sidebar-inner slimscroll">
					<div id="sidebar-menu" class="sidebar-menu">
						<ul>
							<li class="menu-title"> 
								<span style="color: #000;" >Main</span>
							</li>
							<li > 
								<a style="color: #000;" href="/users/upload"><i class="fe fe-home"></i> <span>Seller mode</span></a>
							</li>
							<li> 
								<a style="color: #000;"  href=""><i class="fe fe-layout"></i> <span>Chat</span></a>
							</li>
							<li> 
								<a style="color: #000;"  href="/users/sellerview"><i class="fe fe-users"></i> <span>My Products</span></a>
							</li>	
								</ul>
		
						
					</div>
                </div>
            </div>
			<!-- /Sidebar -->
			
			<!-- Page Wrapper -->
            <div class="page-wrapper">
			
                <div class="content container-fluid">
					
					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-sm-12">
								<h5 style="text-transform: capitalize;color:#48454575;x;" class="page-title">Hello {{docs.name}}</h5>
								<ul class="breadcrumb">
									<li class="breadcrumb-item active"></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Page Header -->

					
						
							<!-- Recent Orders -->
								<div class="row">
			<div class="col-md-12">
				<h4 style="color:cadetblue;">Products <b>Category</b></h4>
				<hr>

				<!-- Carousel indicators -->

				<!-- Wrapper for carousel items -->
				<div class="carousel-inner">
					<div class="item carousel-item active">
						<div class="row">
							{{#each Data}}
							<div class="col-12 col-md-3">
								<div class="thumb-wrapper">
									<div class="img-box">
										<a href="/users/category/{{this.name}}"><img src="/uploads/{{this.image}}"
												class="img-responsive img-fluid" width="120" height="120"
												alt="image"></a>
									</div>
									<div class="thumb-content">
										<h4 style="text-transform: uppercase;">{{this.name}}</h4>
									</div>
								</div>
							</div>
	
							{{/each}}

							{{!--  --}}
						</div>
					</div>
				</div>
<hr>
				{{!-- cards --}}
				<div class="row" style="position: relative;    max-height:0px ;!important">
	{{#each result}}

	<div style="width: 12px;" class="col-12 col-md-3">
		<div class="thumbnail">
			<a href="/users/product/{{this._id}}"><div class="card">

				<img src="uploads/{{this.image}}" alt="..." class="img-responsive" height="200" width="200">
				<p style="text-transform: capitalize;color: #00000070">{{this.itemName}}</p>
				<h5 style="text-transform: capitalize; color: #00000070">{{this.category}}</h5>
				<a href="/users/product/{{this._id}}" class="genric-btn primary-border radius"><button class="btn btn-primary" >view</button></a>
			</div></a>
		</div>
	</div>
	{{/each}}
</div>
{{!-- cards --}}
			</div>
			<!-- Carousel controls -->

		</div>
							<!-- /Feed Activity -->
							
						</div>
					</div>
				
						</div>
				</div>			
			</div>
			<!-- /Page Wrapper -->
		
        </div>
		<!-- /Main Wrapper -->
			<style>
		font-family: "Open Sans",
		sans-serif;
		}

		h2 {
			color: #000;
			font-size: 26px;
			font-weight: 300;
			text-align: center;
			text-transform: uppercase;
			position: relative;
			margin: 30px 0 80px;
		}

		h2 b {
			color: #ffc000;
		}

		h2::after {
			content: "";
			width: 100px;
			position: absolute;
			margin: 0 auto;
			height: 4px;
			background: rgba(0, 0, 0, 0.2);
			left: 0;
			right: 0;
			bottom: -20px;
		}

		.carousel {
			margin: 50px auto;
			padding: 0 70px;
		}

		.carousel .item {
			min-height: 330px;
			text-align: center;
			overflow: hidden;
		}

		.carousel .item .img-box {
			height: 160px;
			width: 100%;
			position: relative;
		}

		.carousel .item img {
			max-width: 100%;
			max-height: 100%;
			display: inline-block;
			position: absolute;
			bottom: 0;
			margin: 0 auto;
			left: 0;
			right: 0;
		}

		.carousel .item h4 {
			font-size: 18px;
			margin: 10px 0;
		}

		.carousel .item .btn {
			color: #333;
			border-radius: 0;
			font-size: 11px;
			text-transform: uppercase;
			font-weight: bold;
			background: none;
			border: 1px solid #ccc;
			padding: 5px 10px;
			margin-top: 5px;
			line-height: 16px;
		}

		.carousel .item .btn:hover,
		.carousel .item .btn:focus {
			color: #fff;
			background: #000;
			border-color: #000;
			box-shadow: none;
		}

		.carousel .item .btn i {
			font-size: 14px;
			font-weight: bold;
			margin-left: 5px;
		}

		.carousel .thumb-wrapper {
			text-align: center;
		}

		.carousel .thumb-content {
			padding: 15px;
		}

		.carousel .carousel-control {
			height: 100px;
			width: 40px;
			background: none;
			margin: auto 0;
			background: rgba(0, 0, 0, 0.2);
		}

		.carousel .carousel-control i {
			font-size: 30px;
			position: absolute;
			top: 50%;
			display: inline-block;
			margin: -16px 0 0 0;
			z-index: 5;
			left: 0;
			right: 0;
			color: rgba(0, 0, 0, 0.8);
			text-shadow: none;
			font-weight: bold;
		}

		.carousel .item-price {
			font-size: 13px;
			padding: 2px 0;
		}

		.carousel .item-price strike {
			color: #999;
			margin-right: 5px;
		}

		.carousel .item-price span {
			color: #86bd57;
			font-size: 110%;
		}

		.carousel .carousel-control.left i {
			margin-left: -3px;
		}

		.carousel .carousel-control.left i {
			margin-right: -3px;
		}

		.carousel .carousel-indicators {
			bottom: -50px;
		}

		.carousel-indicators li,
		.carousel-indicators li.active {
			width: 10px;
			height: 10px;
			margin: 4px;
			border-radius: 50%;
			border-color: transparent;
		}

		.carousel-indicators li {
			background: rgba(0, 0, 0, 0.2);
		}

		.carousel-indicators li.active {
			background: rgba(0, 0, 0, 0.6);
		}

		.star-rating li {
			padding: 0;
		}

		.star-rating i {
			font-size: 14px;
			color: #ffc000;
		}
	</style>
	<style>
	.titlebar {
		overflow: hidden;
	}

	.titlebar .next-back {
		float: right;
		margin: 12px 0;
	}

	.titlebar .next-back span a {
		font-size: 12px;
		text-transform: uppercase;
		font-family: Poppins;
		color: #222222;
	}

	.titlebar .next-back span a:hover {
		text-decoration: none;
		color: #888888;
	}

	.titlebar .next-back span {
		border-right: 1px solid #000;
		padding: 0 8px 0 5px;
		display: inline-block;
		line-height: 10px;
	}

	.titlebar .next-back span:last-child {
		border-right: none;
		padding-right: 0;
	}

	/*.carousel-inner > .carousel-item {*/
	/*  -webkit-transition: -webkit-transform 1.2s ease-in-out !important;*/
	/*  -o-transition: -o-transform 1.2s ease-in-out !important;*/
	/*  transition: transform 1.2s ease-in-out !important;*/
	/*}*/

	.carousel {
		margin-bottom: 0;
		padding: 0 0 30px 0;
	}

	.arrival-product .arrival-item ul {
		margin: 0;
		padding: 0;
	}

	.arrival-product .arrival-item ul li {
		float: left;
		list-style: none;
		width: 23%;
		overflow: hidden;
		margin-right: 2.6%;
	}

	.arrival-product .arrival-item ul li:last-child {
		margin-right: 0;
	}
</style>


<style>
	.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 108%;
    margin: 47px;
    padding: 10px;
    height: 50%;
	}

	.card:hover {
		box-shadow: 0 8px 65px 0 rgba(0, 0, 0, 0.2);
	}

	.thumbnail {
		padding: 2px 16px;
		border: none !important
	}
</style>

		<!-- jQuery -->
        <script src="/assets/js/jquery-3.2.1.min.js"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="/assets/js/popper.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
		
		<!-- Slimscroll JS -->
        <script src="/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
		
		<script src="/assets/plugins/raphael/raphael.min.js"></script>    
		<script src="/assets/plugins/morris/morris.min.js"></script>  
		<script src="/assets/js/chart.morris.js"></script>
		
		<!-- Custom JS -->
		<script  src="/assets/js/script.js"></script>


<!-- Mirrored from dreamguys.co.in/demo/doccure/admin/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 30 Nov 2019 04:12:34 GMT -->
