<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.png">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/assets/css/bootstrap.min.css">

<!-- Fontawesome CSS -->
<link rel="stylesheet" href="/assets/css/font-awesome.min.css">

<!-- Feathericon CSS -->
<link rel="stylesheet" href="/assets/css/feathericon.min.css">

<link rel="stylesheet" href="/assets/plugins/morris/morris.css">

<!-- Main CSS -->
<link rel="stylesheet" href="/assets/css/style.css">




<!-- Main Wrapper -->
<div class="main-wrapper">

	{{#if login}}
	<div class="header" style="box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.2);">

		<!-- Logo -->
		<div class="header-left">
			<a href="/" class="logo">
				<img src="/assets/img/Estorelogo.png" style="max-height: 115px;    border-radius: 84%;
    padding-bottom: 24px;" alt="Logo">
			</a>
			<a href="/" class="logo logo-small">
				<img src="/assets/img/estoreSmalllogo.png" style="max-height: 70px;    border-radius: 84%;" alt="Logo"
					width="70" height="70">
			</a>
		</div>
		<!-- /Logo -->

		<a href="javascript:void(0);" id="toggle_btn">
			<i class="fe fe-text-align-left"></i>
		</a>

		<div class="top-nav-search">
			<form>
				<input type="text" class="form-control" placeholder="Search here">
				<button class="btn" type="submit"><i class="fa fa-search"></i></button>
			</form>
		</div>

		<!-- Mobile Menu Toggle -->
		<a class="mobile_btn" id="mobile_btn">
			<i class="fa fa-bars"></i>
		</a>
		<!-- /Mobile Menu Toggle -->

		<!-- Header Right Menu -->
		<ul class="nav user-menu">

			<!-- Notifications -->

			<!-- /Notifications -->

			<!-- User Menu -->
			<li class="nav-item dropdown has-arrow">
				<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
					<img src="/uploads/{{data.image}}" width="30" height="30" style="border-radius: 30px;">

				</a>
				<div class="dropdown-menu">
					<div class="user-header">

						<img src="/uploads/{{data.image}}" width="50" height="50" style="border-radius: 30px;">

						<div class="user-text">
							<a href="/users/profile">
								<h6 style="text-transform: capitalize;">{{data.name}}</h6>
							</a>
							<p class="text-muted mb-0">User</p>
						</div>
					</div>
					<a class="dropdown-item" href="/users/profile">My Profile</a>
					<a class="dropdown-item" href="/logout">Logout</a>
				</div>
			</li>
			<!-- /User Menu -->

		</ul>
		<!-- /Header Right Menu -->

	</div>
	{{else}}
	<!-- Header -->
	<div class="header" style="box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.2);">

		<!-- Logo -->
		<div class="header-left">
			<a href="/" class="logo">
				<img src="/assets/img/Estorelogo.png" style="    border-radius: 84%;max-height: 115px;
    padding-bottom: 24px;" alt="Logo">
			</a>
			<a href="index.html" class="logo logo-small">
				<img src="/assets/img/estoreSmalllogo.png" style="    border-radius: 84%;max-height: 70px;" alt="Logo"
					width="70" height="70">
			</a>
		</div>
		<!-- /Logo -->

		<a href="javascript:void(0);" id="toggle_btn">
			<i class="fe fe-text-align-left"></i>
		</a>

		<div class="top-nav-search">
			<form>
				<input type="text" class="form-control" placeholder="Search here">
				<button class="btn" type="submit"><i class="fa fa-search"></i></button>
			</form>
		</div>


		<!-- Mobile Menu Toggle -->
		<a class="mobile_btn" id="mobile_btn">
			<i class="fa fa-bars"></i>
		</a>
		<!-- /Mobile Menu Toggle -->

		<!-- Header Right Menu -->
		<ul class="nav user-menu">

			<!-- Notifications -->

			<!-- /Notifications -->

			<!-- User Menu -->
			<li class="nav-item dropdown has-arrow">
				<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">

				</a>
				<div class="dropdown-menu">
					<div class="user-header">

						<div class="user-text">


							<p class="text-muted mb-0">User</p>
						</div>
					</div>
					<a class="dropdown-item" href="/signin">SignIn</a>
					<a class="dropdown-item" href="/signup">SignUp</a>
				</div>
			</li>
			<!-- /User Menu -->

		</ul>
		<!-- /Header Right Menu -->

	</div>
	{{/if}}


	<!-- /Header -->

	<!-- Sidebar -->
	<div class="sidebar" style="    background-color:#ffffff8c;" id="sidebar">
		<div class="sidebar-inner slimscroll">
			<div id="sidebar-menu" class="sidebar-menu">
				<ul>
					<li class="menu-title">
						<span style="color: #000;">Main</span>
					</li>
					<li>
						<a style="color: #000;" href="/users/upload"><i class="fe fe-home"></i> <span>Seller
								mode</span></a>
					</li>
					<li>
						<a style="color: #000;" href="/users/notification"><i class="fe fe-layout"></i>
							<span>Chat</span></a>
					</li>
					<li>
						<a style="color: #000;" href="/users/sellerview"><i class="fe fe-users"></i> <span>My
								Products</span></a>
					</li>
				</ul>


			</div>
		</div>
	</div>
	<!-- /Sidebar -->

	<!-- Page Wrapper -->
	<dihttp
http
http
httpv class="page-wrapper">

		<div class="content container-fluid">


			<!-- /Page Header -->

			<!-- Recent Orders -->
			<div class="row">
				<div class="col-md-12">


					<!-- Carousel indicators -->

					<!-- Wrapper for carousel items -->


					{{!-- cards --}}
					<div class="row" style="position: relative;    max-height:0px ;!important">
						<div style="width: 12px;" class="col-12 col-md-3">

							<div id="thumb" class="thumbnail">
								{{#if docs}}
								{{#each docs }}
								<div id="card" class="card">
									<h6 id="name" style="text-transform: uppercase;">{{this.uEmail}} Wants to Chat With You</h6>
									<button onclick="sellerJoinHandler(this)"  data-mail="{{this.uEmail}}" data-id="{{this._id}}" class="btn btn-danger">Chat With Customer</button>
								</div>
								{{/each}}
								{{else}}
								<h6 id="name"  style="text-transform: uppercase;">{{user}} </h6>
								{{/if}}
									
							</div>

						</div>

					</div>
					<div class="notification_area">

					</div>

					<script src="/socket.io/socket.io.js"></script>
					<script src="http://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>


					<script>

					</script>
					{{!-- cards --}}
				</div>
				<!-- Carousel controls -->
			</div>
			<!-- /Feed Activity -->

		</div>
	</div>
</div>
</div>
</div>
<!-- /Page Wrapper -->

</div>
<!-- /Main Wrapper -->

<script>
	let name = document.getElementById('name').value
	var splitName =name.split("@gmail.com")
	document.getElementById('name').value = splitName
</script>
<style>
	.card {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		transition: 0.3s;
		width: 108%;
		margin: 47px;
		padding: 10px;
		height: 50%;
	}

	.card:hover {
		box-shadow: 0 8px 65px 0 rgba(0, 0, 0, 0.2);
	}

	.thumbnail {	
		padding: 2px 16px;
		border: none !important
	}
</style>



<!-- jQuery -->
<script src="/assets/js/jquery-3.2.1.min.js"></script>

<!-- Bootstrap Core JS -->
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>

<!-- Slimscroll JS -->
<script src="/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<script src="/assets/plugins/raphael/raphael.min.js"></script>
<script src="/assets/plugins/morris/morris.min.js"></script>
<script src="/assets/js/chart.morris.js"></script>

<!-- Custom JS -->
<script src="/assets/js/script.js"></script>
<script src="/assets/js/product.js"></script>
<script>
		var notificationArea = document.querySelector('.notification_area')

	function appendNotification(data){
		let mainDiv = document.createElement('div');
		let markup = `<p>${data.uemail}Wants to chat with you<p>`
			mainDiv.innerHTML =markup;
			notificationArea.appendChild(mainDiv)
	}
</script>